name: Tests

on:
  pull_request:
  push:
    branches: 
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: stable

      - name: Clone plenary.nvim
        run: git clone --depth 1 https://github.com/nvim-lua/plenary.nvim

      - name: Run tests
        run: make test
